*{
	margin:0;
	padding: 0;
	font-family: century gothic;
}
.spinner {
	position: absolute;
	top: 45%;
	left: 85%;
	margin: auto;
	box-sizing: border-box;
	background-clip: padding-box;
	width: 60px;
	height: 200px;
	border-radius: 100px;
	border: 4px solid rgba(255, 255, 255, 0.1);
	transform-origin: 50% 60%;
	transform: perspective(200px) rotateX(66deg);
	animation: spinner-wiggle 9.2s infinite;
  }
  .spinner:before,
  .spinner:after {
	content: "";
	position: absolute;
	margin: -4px;
	box-sizing: inherit;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	opacity: .05;
	border: inherit;
	border-color: transparent;
	animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
  }
  
  .spinner:before {
	border-top-color: #66e6ff;
  }
  
  .spinner:after {
	border-top-color: #f0db75;
	animation-delay: 0.3s;
  }
  
  @keyframes spinner-spin {
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes spinner-fade {
	20% {
	  opacity: .1;
	}
	40% {
	  opacity: 1;
	}
	60% {
	  opacity: .1;
	}
  }
svg {
	display: block;
	width: 100vmin;
	height: 100vmin;
	margin: 0 auto;
	background: #000;
	
  }
  .socket{
	transform: scale(2);
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 150%;
	margin-top: 10px;
}

.hex-brick{
  background:#90BBBF;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
}

.h2{
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}

.h3{
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}

.gel{
	height: 30px;
	width: 30px;	
	transition: all .3s;
	-webkit-transition: all .3s;
	position: absolute;
top: 50%;
left: 50%;
}

.center-gel{
	margin-left: -15px;
	margin-top: -15px;
	
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.c1{
	margin-left: -47px;
	margin-top: -15px;
}

.c2{
	margin-left: -31px;
	margin-top: -43px;
}

.c3{
	margin-left: 1px;
	margin-top: -43px;
}

.c4{
	margin-left: 17px;
	margin-top: -15px;
}
.c5{
	margin-left: -31px;
	margin-top: 13px;
}

.c6{
	margin-left: 1px;
	margin-top: 13px;
}

.c7{
	margin-left: -63px;
	margin-top: -43px;
}

.c8{
	margin-left: 33px;
	margin-top: -43px;
}

.c9{
	margin-left: -15px;
	margin-top: 41px;
}

.c10{
	margin-left: -63px;
	margin-top: 13px;
}

.c11{
	margin-left: 33px;
	margin-top: 13px;
}

.c12{
	margin-left: -15px;
	margin-top: -71px;
}

.c13{
	margin-left: -47px;
	margin-top: -71px;
}

.c14{
	margin-left: 17px;
	margin-top: -71px;
}

.c15{
	margin-left: -47px;
	margin-top: 41px;
}

.c16{
	margin-left: 17px;
	margin-top: 41px;
}

.c17{
	margin-left: -79px;
	margin-top: -15px;
}

.c18{
	margin-left: 49px;
	margin-top: -15px;
}

.c19{
	margin-left: -63px;
	margin-top: -99px;
}

.c20{
	margin-left: 33px;
	margin-top: -99px;
}

.c21{
	margin-left: 1px;
	margin-top: -99px;
}

.c22{
	margin-left: -31px;
	margin-top: -99px;
}

.c23{
	margin-left: -63px;
	margin-top: 69px;
}

.c24{
	margin-left: 33px;
	margin-top: 69px;
}

.c25{
	margin-left: 1px;
	margin-top: 69px;
}

.c26{
	margin-left: -31px;
	margin-top: 69px;
}

.c27{
	margin-left: -79px;
	margin-top: -15px;
}

.c28{
	margin-left: -95px;
	margin-top: -43px;
}

.c29{
	margin-left: -95px;
	margin-top: 13px;
}

.c30{
	margin-left: 49px;
	margin-top: 41px;
}

.c31{
	margin-left: -79px;
	margin-top: -71px;
}

.c32{
	margin-left: -111px;
	margin-top: -15px;
}

.c33{
	margin-left: 65px;
	margin-top: -43px;
}

.c34{
	margin-left: 65px;
	margin-top: 13px;
}

.c35{
	margin-left: -79px;
	margin-top: 41px;
}

.c36{
	margin-left: 49px;
	margin-top: -71px;
}

.c37{
	margin-left: 81px;
	margin-top: -15px;
}

.r1{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}

.r2{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}

.r3{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}

.r1 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}

.r2 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}

.r3 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}


@keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
	}
	
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes fade{
	0%{
		background: #ABF8FF;
	}
	
	50%{
		background: #90BBBF;
	}
	
	100%{
		background: #ABF8FF;
	}
}

@-webkit-keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
	}
	
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes fade{
	0%{
		background: #ABF8FF;
	}
	
	50%{
		background: #389CA6;
	}
	
	90%{
		background: #ABF8FF;
	}
}
body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 30px;
	color: #777;
	
  }
  
  .container {
	width: 600px;
	position: absolute;
	top: 138%;
	left:10%;
	transform: translate(-50%,-50%);
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 150px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
  }
  
  #contact h4 {
	margin: 6px 0 15px;
	display: block;
	font-size: 20px;
	font-weight: 400;
  }
  
  fieldset {
	border: medium none !important;
	margin: 0px;
	min-width: 100%;
	padding: 0;
	width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0px;
	padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
  }
  
  #contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
  }
  
  #contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background:darkblue;
	color: #FFF;
	margin: 0px;
	padding: 10px;
	font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
	background: black;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .copyright {
	text-align: center;
  }
  
  #contact input:focus,
  #contact textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
	color: #888;
  }
  
  :-moz-placeholder {
	color: #888;
  }
  
  ::-moz-placeholder {
	color: #888;
  }
  
  :-ms-input-placeholder {
	color: #888;
  }
.sample {
	background-image: url(../1.jpg);
	height: 620px;
	background-size: cover;
	margin: 0px !important;
}
.background img{
    width: 1348px;
	height: 800px;
	background-position: center;
	background-attachment: fixed;

}



marquee	{
	color: #f0db75;
	font-size: 30px;
	position: absolute;
	top:33%;
	left: 50%;
	transform: translate(-50%,-40%);
	text-decoration-line: all;
	scroll-behavior: smooth;
    
}
.paragraph{
	border: 2px solid #fff;
	position: absolute;
	top: 180%;
	left: 50%;
	transform: translate(-50%,-50%);
    color:blue;
    background-color: black;
	font-size: 20px;

}
p{
    position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
    color:green;
	font-size: 30px;

}
.p11{
	border: 2px solid #fff;
	position: absolute;
	top: 195%;
	left: 50%;
	transform: translate(-50%,-50%);
    color:black;
    background-color:yellow;
	font-size: 30px;

}
form{
		
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: blue;

}
input hover{
	background-color: #fff;
	color: #000;

}
ul{
	position: absolute;
	top: -50px;
	left: 250px;
	margin-top: 25px;
	font-size: 20px;
	
	
}
ul li{
	display: inline-block;
	padding-top: 60px;
	
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding:5px 10px;
	border: 1px solid transparent;
    transition: 0.6s ease
}
ul li a:hover{
	background-color: #fff;
	color: #000;

}
ul li.active a{
    background-color: white;
	color: black;
}
/* 
Sample change */

.logo img{
	float: left;
	width: 	200px;
	height: auto;
    position: absolute;
    top: 10%;
	left: 7%;
	transform: translate(-50%,-50%);    
	
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.title h1{
	color: #fff;
	font-size: 50px;
}
.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
    text-decoration: none;
    transition: 0.6s ease
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.title{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: white;
    text-decoration: none;

}
.blue{
	background-image: url(../blue.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}
.a{
 font-size: 20px;
 position: absolute;
 top: 40px;
 left: 10px;
 color: #000;
}
.b{
	font-size: 20px;
	position: absolute;
	top: 180px;
	left: 10px;
	color: #000;
   
}
.c{
	font-size: 25px;
	position: absolute;
	top: 10px;
	left: 10px;
	color: #000;
   
}
.d{
	font-size: 25px;
	position: absolute;
	top: 140px;
	left: 10px;
	color: #000;
   
}
.e{
	border: 2px solid black;
	font-size: 35px;
	position: absolute;
	top: 560px;
	left: 270px;
	color: #000;
   
}
.image img{
	image-resolution: auto;
	width: 1375px;
	height: auto;
	position: absolute;
	top: 50%;
	left: -1%;
	transform: translate(-1%,-5%);
}
.war img{
	image-resolution: auto;
	width: 1375px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: -1%;
	transform: translate(-1%,-5%);
}
.z{
	border: 2px solid black;
	font-size: 25px;
	position: absolute;
	top: 360px;
	left:400px;
	color: #000;
   
}













	


